.vs/
PROJECT_SEM3/bin/
PROJECT_SEM3/obj/

# Thư mục build và output
bin/
obj/

# Cấu hình IDE
.vs/
*.user

# Tệp nhạy cảm hoặc cấu hình môi trường
appsettings.Development.json

# Thư mục tĩnh
wwwroot/

# Tệp tạm thời hoặc không cần thiết
*.log
*.bak

# Tệp của hệ điều hành
.DS_Store
Thumbs.db
